
html{box-sizing:border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
	width: 100%;
	margin:0;
}

#instagramIcon {
	height: 20px;
	width:20px;
}

#openTableIcon {
	height: 24px;
	width: 24px;
}

.itemInfo {
	display: flex;
	justify-content: center;
	margin-top: 5px;
	text-align: center;
	margin-bottom: 25px;
}

#lowerSection {
	display: flex;
	flex-direction: row;
}

#linkBar a{
	color: white;
	font-size: 20px;
	font-family: serif;
	font-style:italic;
	text-decoration:none;
	line-height: 35px; 
	padding: 0 10px;
}

#item15icons {
	display: none;
}

#item15price {
	font-family: serif;
	font-size: 18px;
	height: 20px;
	line-height: 20px;
	margin: 0;
	position: relative;
	top: 0;
	padding-right: 15px;
	left: 15px;
}

#item18icons , #item19icons , #item22icons , #item24icons , #item25icons , #item28icons , #item33icons{
	width: 100px;
	height: 20px;
	display: flex;
	align-items: center;
	padding-left: 15px;
	position: relative;
	top: 6px;
}

#item18price , #item19price , #item22price , #item24price , #item25price , #item28price , #item33price{
	font-family: serif;
	font-size: 18px;
	height: 20px;
	line-height: 20px;
	margin: 0;
	position: relative;
	top: 0;
	padding-right: 15px;
	border-right: 1px solid black;
}

#item19price , #item19icons{
	left: 35px;
}

#item22price , #item22icons {
	left: 15px;
}

#item24price , #item24icons , #item25price , #item25icons , #item28price , #item33price , #item28icons , #item33icons{
	left: 25px;
}

#directionsContainer {
	background-image: url('./assets/Blue-map-pic.jpg');
}

.formInput {
	margin: 7px;
	height: 30px;
}

#cateringContainer {
	background-image: url('./assets/catering.jpg');
}

#ourStoryContainer {
	background-image: url('./assets/design-images/ourstory-dark.jpg')
}

#newsContainer {
	background-image: url('./assets/design-images/news-image-blue.jpg');
}

#grandOpeningPic {
	background-image: url('./assets/design-images/grand-opening.jpg');
}

#bisHoursSection {
	background-image: url('./assets/dark-main-pic.jpg');
}

select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	border: 0.5px solid rgba(125,125,125,0.3);
	padding: 0 10px;
	color: grey;
}

select::placeholder {
	color: rgba(125,125,125,0.5);
}

.bannerLink a:hover {
	border-bottom: 3px solid #59E4DF;
}

#readMoreLink a:hover {
	border-bottom: 3px solid #59E4DF;
}