
html{
	box-sizing:border-box;
	-webkit-font-smoothing: antialiased;
}
*, *:before, *:after {box-sizing: inherit;}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
	width: 100%;
	margin:0;
}

#instagramIcon {
	height: 20px;
	width:20px;
}

#openTableIcon {
	height: 24px;
	width: 24px;
}

.itemInfo {
	display: flex;
	justify-content: center;
	margin-top: 5px;
	text-align: center;
	margin-bottom: 25px;
}

#lowerSection {
	display: flex;
	flex-direction: row;
}

#linkBar a{
	color: white;
	font-size: 20px;
	font-family: serif;
	font-style:italic;
	text-decoration:none;
	line-height: 35px; 
	padding: 0 10px;
}

#item15icons {
	display: none;
}

#item15price {
	font-family: serif;
	font-size: 18px;
	height: 20px;
	line-height: 20px;
	margin: 0;
	position: relative;
	top: 0;
	padding-right: 15px;
	left: 15px;
}

#item18icons , #item19icons , #item22icons , #item24icons , #item25icons , #item28icons , #item33icons{
	width: 100px;
	height: 20px;
	display: flex;
	align-items: center;
	padding-left: 15px;
	position: relative;
	top: 6px;
}

#item18price , #item19price , #item22price , #item24price , #item25price , #item28price , #item33price{
	font-family: serif;
	font-size: 18px;
	height: 20px;
	line-height: 20px;
	margin: 0;
	position: relative;
	top: 0;
	padding-right: 15px;
	border-right: 1px solid black;
}

#item19price , #item19icons{
	left: 35px;
}

#item22price , #item22icons {
	left: 15px;
}

#item24price , #item24icons , #item25price , #item25icons , #item28price , #item33price , #item28icons , #item33icons{
	left: 25px;
}

.formInput {
	margin: 7px;
	height: 30px;
}

#cateringContainer {
	background-image: url('./assets/catering.jpg');
}

#ourStoryContainer {
	background-image: url('./assets/design-images/ourstory-dark.jpg')
}

#newsContainer {
	background-image: url('./assets/design-images/news-image-blue.jpg');
}

#grandOpeningPic {
	background-image: url('./assets/design-images/grandopening-new.jpg');
}

#bisHoursSection {
	background-image: url('./assets/dark-main-pic.jpg');
}

select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	border: 0.5px solid rgba(125,125,125,0.3);
	padding: 0 10px;
	color: grey;
}

select::placeholder {
	color: rgba(125,125,125,0.5);
}

.bannerLink a:hover {
	border-bottom: 3px solid #59E4DF;
}

#readMoreLink a:hover {
	border-bottom: 3px solid #59E4DF;
}

#ourStoryText {
	display: block;
	display: -webkit-box;
	max-width:800px;
	height: 150px;
	-webkit-line-clamp: 5;
	-webkit-box-orient:vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 30px;
	margin-top: 30px;

}

#newsTextBox {
	display: block;
	display: -webkit-box;
	max-width: 500px;
	height: 210px;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 30px;
	margin-left: 175px;
	text-align: center;
	color: white;
	font-size:17px;
	line-height: 30px;
}

.imageGallery {
	background-image: url('./assets/design-images/gallery-background.jpg');
	width: 2850px;
	height: 350px;
	background-color: black;
	overflow:hidden;
	position: relative;
	top: -8px;
	left: 0px;
	padding-top:30px;
}

.gallery {
	position: relative;
	left: 0;

	transition:  2s;
}

.photos {
	position: relative;
	top: 300px;

	transition: top 700ms;
	transition-timing-function: ease-in-out;
}

.galleryData {
	position: relative;
	left: 1px;
	-webkit-transition: left 2s ease-in-out;
    -moz-transition: left 2s ease-in-out;
    -ms-transition: left 2s ease-in-out;
    -o-transition: left 2s ease-in-out;
    transition: left 2s ease-in-out;
}

.titleBox {
	color: #66fff0;
	font-size: 60px;
	font-family: 'Great Vibes';
	text-align: center;
	margin: 60px 0 30px 0;
	opacity: 1;
	position: relative;
	left:0;
	transition: opacity 600ms, left 2s;
}


.imageGallery:hover .titleBox {
	opacity: 0;
}

.imageGallery:hover .photos {
	top: 0;
}

.directionsMap {
	z-index:3;

	position: relative;
	top:-1433px;
}

#directionsParentContainer {
	position:relative;
	left: 0px;

	transition:left 0s;
	transition-delay: 1s;
}

#directionsContainer {
	background-image: url('./assets/Blue-map-pic.jpg');
	z-index:4;
	height: 400px;
	width: 100%;
	position: relative;
	top: -8px;
	padding-top: 100px;
	opacity:1;

	transition: opacity 1s;
	
}

.directionsMap {
	height: 200px;
	width: 500px;
	z-index: 4;
	position: absolute;
	top: 4060px;
	margin-left: 470px;
}

