#menuImage15 {
	background-image: url('./assets/menu-images/appetizers/turkey-soup.jpg');
}

#menuImage18 {
	background-image: url();
}

#menuImage19 {
	background-image: url();
}

#menuImage22 {
	background-image: url();
}